
.banner-slider:hover .flickity-prev-next-button{
    opacity: 1;
}
.banner-slider .flickity-prev-next-button{
    width: 44px;
    opacity: 0;
    transition: all ease 1s;
}
.flickity-prev-next-button .flickity-button-icon{
    left: 40%;
    top: 20%;
    height: 60%;
    width: 20%;
}
.product-slider .flickity-prev-next-button.previous{
    left: 60px;
}
.product-slider .flickity-prev-next-button.next{
    right: 60px;
}
.slider-comment .flickity-prev-next-button.previous{
    left:23.6971%;
}
.slider-comment .flickity-prev-next-button.next{
    right:23.6971%;
}
.comment-item.is-selected .comment-title p{
    color: #000;
}
 /*================================ res ================================ */
