*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a {
    text-decoration: none;
    color: #000;
}
img{
    max-width: 100%;
    height: auto;
}
@font-face {
    font-family: Poppins semiBold;
    src: url(../font/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: Poppins regular;
    src: url(../font/Poppins-Regular.ttf);
}

@font-face {
    font-family: Poppins medium;
    src: url(../font/Poppins-Medium.ttf);
}

@font-face {
    font-family: Poppins light;
    src: url(../font/Poppins-Light.ttf);
}

/*========================== header  =========================*/
#header{
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0;
    left: 0;
}
.wrapper-header{
    max-width: 1770px;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;

}
.header-logo{
    font-size: 30px;
    font-family: Poppins semiBold;
    color: #fff;
}
.header-nav{
    display: flex;
    align-items: center;
}
.header-nav ul {
    width: 100%;
    display: flex;
    margin: 0;
    justify-content: space-between;
    padding: 0;
}
.header-nav ul li{

}
.header-nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    font-family: Poppins medium;
}
.header-social{
    display: flex;
    justify-content: flex-end;
}
.header-social a:not(:last-child){
    margin-right: 10px;
    padding-right: 12px;
}
.header-social a i{
    color: #fff;
}
/*========================== banner  =========================*/
.wrapper-banner{
    /* background-image: url(../image/banner/img.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%; */
}